/* body{
    background-color: #3d3d3d;
    color: aliceblue;
}

.bg-header{
    background-image: url(./assets/istockphoto-1400316691-170667a.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
} */